/# 1.py
/$RECYCLE.BIN
/.GamingRoot
/62-智能2402-韩景泰
/62-智能2402-韩景泰.zip
/8207241004+韩景泰+实验报告.docx
/8207241004+韩景泰.zip
/BaiduNetdiskDownload
/BaiduNetdisk_7.61.5.120 (1).exe
/beacon_report.log
/bili_download
/debug.log
/Delta Force
/Dev-Cpp
/Drivers
/extension
/GameVideos
/IMG_20251109_203457.jpg
/LeiGod_Acc
/Microsoft VS Code
/Multisim14.0
/PCL2
/Program Files
/project
/QQ.exe
/QQEX.exe
/Qt
/rail_user_data
/Solution1
/SteamLibrary
/SumatraPDF
/System Volume Information
/test
/test2024
/texlive
/Untitled-1.py
/versions
/WeChat
/Weixin
/WindowsApps
/Winstep
/WpSystem
/XboxGames
/人像面.jpg
/国徽面.jpg
/学生证.jpg
/实验一.py
/实验三.zip
/实验二.py
/实验报告.docx
/幕布
/我的世界
/电脑管家迁移文件
/研究性报告模板.docx
/腾讯会议
/证件照.jpg